.news {
    padding: 67px 45px 66px 162px;
    background-color: #e9e9e9;
    &__title {
        margin-bottom: 36px;
    }
    &__filters {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        max-width: 495px;
        margin-bottom: 36px;
    }
    &__filter-link {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 500;
        font-size: 21px;
        line-height: 24.61px;
        width: 220px;
        height: 50px;
        &--blue {
            color: #03009c;
            background-color: #03009c0f;
            padding-right: 59px;
            position: relative;
        }
        &--blue::after {
            content: "";
            width: 30px;
            height: 30px;
            background-image: url("/images/main/icons/filtermail.svg");
            position: absolute;
            top: 10px;
            right: 10px;
        }
    }
    &__items {
        display: grid;
        grid-template-columns: minmax(150px, 495px) minmax(150px, 625px);
        column-gap: 7.84vw;
        row-gap: 30px;
    }
    &__slider {
        max-width: 495px;
    }
    &__slider-content {
        display: none;
    }
    &__slider-content--active {
        display: block;
    }
    &__slider-img {
        width: 100%;
        max-height: 250px;
        height: 100%;
        object-fit: cover;
        object-position: center center;
        margin-bottom: 18px;
        border-radius: 10px;
    }
    &__slider-sign {
        margin-bottom: 18px;
    }
    &__slider-text {
        font-size: 15px;
        line-height: 17.58px;
        margin-bottom: 21px;
    }
    &__slider-switch {
        max-width: 242px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__slider-link {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #fff;
        cursor: pointer;
        &--active {
            background-color: #a60000;
        }
        &:hover {
            box-shadow: 0px 0px 5px gray;
        }
    }
    &__slider-turn {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__link--red {
        color: #a60000;
    }
    &__cards-content {
        display: grid;
        grid-template-columns: repeat(2, minmax(150px, 294px));
        column-gap: 37px;
        row-gap: 30px;
    }
    &__card-head {
        display: flex;
        justify-content:flex-start;
        align-items: center;
        margin-bottom: 14px;
    }
    &__card-sign {
        margin-right: 30px;
    }
    &__card-date {
        font-weight: 500;
        font-size: 1.18vw;
        line-height: 19.92px;
        color: #00000080;
    }
    &__card-title {
        font-weight: 500;
        font-size: 1.458vw;
        line-height: 24.61px;
        color: #000;
    }
    &__cards-line {
        border: 1px solid #00000099;
        margin: 20.5px 0px 29.5px 0px;
    }

}

.card-sign {
    font-weight: 500;
    font-size: 17px;
    line-height: 19.92px;
}

@media (min-width:1440px){
    .news {
        &__card-date {
            font-weight: 500;
            font-size: 17px;
            line-height: 19.92px;
            color: #00000080;
        }
        &__card-title {
            font-weight: 500;
            font-size: 21px;
            line-height: 24.61px;
            color: #000;
        }
        &__items {
            column-gap: 37px;
            row-gap: 30px;
        }
    }
}

@media (max-width:1200px){
    .news {
        padding: 30px 15px 30px 15px;
        &__card-title {
            font-weight: 500;
            font-size: 1.7vw;
            line-height: 24.61px;
            color: #000;
        }
    }
}

@media (max-width:880px) {
    .news {
        &__items {
            grid-template-columns: minmax(150px, 625px);
            row-gap: 30px;
            justify-content: center;
            justify-items: center;
        }
        &__title {
            text-align: center;
        }
        &__filters {
            margin-left: auto;
            margin-right: auto;
        }
        &__card-date {
            font-size: 2vw;
            line-height: 19.92px;
            color: #00000080;
        }
        &__card-title {
            font-size: 2.5vw;
            line-height: 24.61px;
            color: #000;
        }
        &__slider {
            max-width: 625px;
        }
    }
}

@media (max-width:600px){
    .news {
        &__cards-content {
            grid-template-columns: minmax(150px, 625px);
            row-gap: 30px;
        }
        &__card-date {
            font-size: 3.5vw;
            line-height: 19.92px;
            color: #00000080;
        }
        &__card-title {
            font-size: 4.5vw;
            line-height: 24.61px;
            color: #000;
        }
    }
}

@media (max-width:500px){
    .news {
        &__filters {
            justify-content: flex-end;
            align-items: center;
            flex-wrap: wrap;
            max-width: 495px;
            margin-bottom: 36px;
        }
    }
}
